@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #be99d3;
    font-family: "Poppins",sans-serif;
    margin: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #423e3e;
}

h1{
    color:rgb(199, 19, 145);
    font-size: 4rem;
    text-align: center;
    opacity: 0.4;
}

form{
    margin: auto;
    max-width: 100%;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.input{
    width: 100%;
    padding: 1rem 2rem;
    display: block;
    font-size: 2rem;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #777777;
}

.input::placeholder{
    color: #b5b5b5;
}

.todos{
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li{
    border-top: 1px solid #e5e5e5;
    font-size : 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.todos li.completed{
    color: #b6b6b6;
    text-decoration: line-through;
}

small{
   margin-top: 3rem;
    color: #e70eb1;
    text-align: center;
}